::-webkit-scrollbar { width: 0;
}

:root {
    --background-color-big: rgb(34, 36, 41);
    --background-color-small: rgb(34, 36, 41);

    --text-color-big: coral;
    --text-color-small: coral;
    
    --font-family-big: Courier, monospace;
    --font-family-small: Courier, monospace;

    --font-size-big: 40px;
    --font-size-small:40px;

    --contacts-font-size-big: 20px;
    --contacts-font-size-small: 20px;

   /* --text-color: rgb(224, 228, 228);
    --link-color: rgb(65, 199, 199);
    --hover-color: rgb(254, 106, 106);*/
}

@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.html {
    scroll-behavior: smooth;
    animation: fade-in .4s ease;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}



.page{
    background-color: var(--background-color-big);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
 
.main-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main-section__background{
    background-image: url("/images/hi_i_sky-0002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contacts{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

.contacts__icons{

}

.contacts__text{
    align-self: center;
    text-decoration: none;
    color:var(--text-color-big);
    font-family: var(--font-family-big);
    font-size: var(--contacts-font-size-big);
}

.icon{
    width: 50px;
    padding: 3px;
}

.icon:hover{
    width: 56px;
    padding: 0px;  
}

.main-section__container{
    height: 100vh;
    width: 100vw;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-section__text{
    color: var(--text-color-big);
    font-size: var(--font-size-big);
    font-family: var(--font-family-big);
    text-align: center;
    
  }

.main-section__gif-container{
}

.main-section__gif{
    width: 512px;
    height: 512px;
    max-width: 80vmin;
    max-height: 80vmin;
}

.video-section{

}

.video-section__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    overflow:hidden;
}

.video-section__video{

}


 