

@media only screen and (min-width: 1440px) {  
    .video-section__video--big{
        width: 23vw;

    }

    .video-section__video--align-start {
        align-self: flex-start;
    }
    
    .video-section__video--align-end {
        align-self: flex-end;
    }
}
    
@media only screen and (max-width: 1440px){  

    .video-section__container--medium{
        justify-content:space-evenly;
        height: fit-content;
    }
    .video-section__video--medium {
        height: 100vh;
    }
}

@media only screen and (max-width: 768px) {  
 
.contacts__text--small{
    font-family: var(--font-family-small);
    font-size: var(--contacts-font-size-small);
}

.icon--small{
    width: 50px;
    padding: 3px;
}

.icon--small:hover{
    width: 56px;
    padding: 0px;  
}
.main-section__container--small{
    margin-bottom: 56px;
}

.main-section__text--small{
    color: var(--text-color-small);
    font-size: var(--font-size-small);
    font-family: var(--font-family-small);
}

.video-section__container--small{
    justify-content: center;
}




/*.body__background--color {
        background-color: var(--bg-color-small-display);
        }





    .page-section{
        background-image:unset;
     }
    .main-container{
    }
    .main-text{
        color: var(--text-color-big-display);
        max-width: 100vw;
    }
    .main-gif{
        height: 100vw;
        max-height: 80vh;
    }
    .main-gif-original{
        width: 80vw;
        height: 80vw;
        max-height: 512px;
        min-width: 512px;
    }
    .contacts-items{
        width: 32px;
     
    }
    .contacts-item{
        width: 32px;
     
    }
    .contacts-item:hover{
        width: 35px;
        
    } 
@media only screen and (max-width : 768px) {
    .page-section-video{
        height: 400vh;
    }
    .video-container{
        flex-wrap: wrap;
        overflow: visible;
        
    }
    .video-body{
        width: 100vw;
        height: 100vh;
  
         
    }
    .video-text{
        font-size: 10vh;
        max-width: 100vw;
    }

    .item {
        align-items: center;
        justify-content: center;
    }
}